.primary-button {
    background-color: var(--hospital-green);
    border: none;
    border-radius: 0.8rem;
    height: 5.6rem;
    width: 100%;
    font-size: var(--medium);
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
}